<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_BK_HISTORY
 * 테이블 설명 : 예약내역
-->
<mapper namespace="com.yido.clubd.repository.DrBkHistoryMapper">

	<select id="getSerialNo" parameterType="hashmap" resultType="String">
		SELECT DR_NEXTVAL('001', 'B', 'BK_SERIAL_NO')
	</select>
	
	<select id="selectList" parameterType="hashmap" resultType="DrBkHistory">
		SELECT *
		FROM DR_BK_HISTORY
		WHERE 1=1
		<if test='bkSerialNo != null and bkSerialNo != ""'>
		AND BK_SERIAL_NO = #{bkSerialNo}
		</if>
	</select>	
	
    <insert id="insertDrBkHistory" parameterType="hashmap">
    	INSERT INTO DR_BK_HISTORY (
			BK_SERIAL_NO
			, CO_DIV
			, BK_DAY
			, BAY_CONDI
			, BK_TIME
			, MS_NUM
			, BK_NAME
			, BK_FIRST_PHONE
			, BK_MID_PHONE
			, BK_LAST_PHONE
			, BK_STATE
			, BK_METHOD
			, COST_DIV
			, COST_CO_DIV
			, COST_NAME
			, COST_CD
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
    	) values (
    		#{bkSerialNo}			
    		, #{coDiv}		
    		, #{bkDay}	
    		, #{bayCondi}	
    		, #{bkTime}		
    		, #{msNum}		
    		, #{bkName}	
    		, #{bkFirstPhone}	
    		, HEX(AES_ENCRYPT(#{bkMidPhone}, 'YIDO')) 		
    		, #{bkLastPhone}		
    		, 'Y'	
    		, 'M'			
    		, #{costDiv}	
    		, #{costCoDiv}	
    		, #{costName}	
    		, #{costCd}	
    		, 'HOMEPAGE'		
    		, now()
			, #{ipAddr}			
    	)  	
    </insert>
    
</mapper>