<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_MS_CO_INFO
 * 테이블 설명 : 회원지점연결정보
-->
<mapper namespace="com.yido.clubd.repository.DrMsCoInfoMapper">

	<select id="selectList" resultType="DrMsCoInfo">
       
    </select>
    
</mapper>