<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_VOUCHER_CODE
 * 테이블 설명 : 이용권코드
-->
<mapper namespace="com.yido.clubd.repository.DrVoucherCodeMapper">

	<select id="selectList" resultType="DrVoucherCode">
       	SELECT A.VC_CD
			 , VC_NAME
			 , VC_DIVISION
			 , VC_LIMIT_CNT
			 , VC_DAY_LIMIT_CNT
			 , VC_MONTH
			 , VC_MINUTE
			 , VC_USE_WEEK
			 , VC_ENTER_FROM_TIME
			 , VC_ENTER_TO_TIME
			 , VC_RETURN_METHOD 
			 , B.VC_AMOUNT
		  FROM DR_VOUCHER_CODE  AS A INNER JOIN DR_VOUCHER_COST AS B ON A.CO_DIV = B.CO_DIV AND A.VC_CD = B.VC_CD AND B.USE_YN = 'Y'
		 WHERE VC_DISPLAY_YN = 'Y'
		   AND A.USE_YN = 'Y'
		 ORDER BY VC_SORT;
    </select>
    
</mapper>