<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_VOUCHER_CODE
 * 테이블 설명 : 이용권코드
-->
<mapper namespace="com.yido.clubd.repository.DrVoucherCodeMapper">

	<select id="selectList" resultType="DrVoucherCode">
		SELECT A.VC_CD
			 , A.VC_NAME
			 , B.VC_AMOUNT
			 , A.VC_MONTH
	     FROM DR_VOUCHER_CODE A INNER JOIN DR_VOUCHER_COST B ON A.CO_DIV = B.CO_DIV AND A.VC_CD = B.VC_CD AND B.USE_YN = 'Y'
		  AND A.VC_DISPLAY_YN = 'Y'
		ORDER BY VC_SORT
    </select>
    
</mapper>