<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_VOUCHER_SALE
 * 테이블 설명 : 회원이용권 구매내역
-->
<mapper namespace="com.yido.clubd.repository.DrVoucherSaleMapper">

    <insert id="insertDrVoucherSale">
        <selectKey resultType="String" keyProperty="saleSeq" order="BEFORE">
			SELECT IFNULL(CAST(MAX(SALE_SEQ) AS UNSIGNED), 0)+1 
			  FROM DR_VOUCHER_SALE
        </selectKey>    
    	INSERT INTO DR_VOUCHER_SALE (
			CO_DIV
			, SALE_DAY
			, SALE_SEQ
			, MS_NUM
			, VC_CD
			, DR_SERIAL_NO
			, LK_CO_DIV
			, LK_NUM
			, VC_FROM_DAY
			, VC_TO_DAY
			, VC_STATE
			, VC_LIMIT_CNT
			, VC_SERVICE_CNT
			, VC_USE_CNT
			, VC_REM_CNT
			, VC_REMARK
			, USE_YN
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
    	) values (
    		#{coDiv}			
    		, #{saleDay}		
    		, #{saleSeq}			
    		, #{msNum}
    		, #{vcCd}	
    		, #{drSerialNo}	
    		, #{lkCoDiv}		
    		, #{lkNum}		
    		, #{vcFromDay}		
    		, #{vcToDay}		
    		, #{vcState}		
    		, #{vcLimitCnt}		
    		, #{vcServiceCnt}		
    		, #{vcUseCnt}		
    		, #{vcRemCnt}		
    		, #{vcRemark}	
    		, #{useYn}	
    		, #{inputStaff}			
    		, now()
			, #{ipAddr}						
    	)  	
    </insert>
    
	<update id="updateDrVoucherSale">
		UPDATE DR_VOUCHER_SALE
		   SET VC_STATE 		= #{vcState}
		     , VC_LIMIT_CNT 	= #{vcLimitCnt}
		     , VC_SERVICE_CNT 	= #{vcServiceCnt}
		     , VC_USE_CNT 		= #{vcUseCnt}
		     , VC_REM_CNT 		= #{vcRemCnt}
		     , VC_REMARK 		= #{vcRemark}
		     , USE_YN 			= #{useYn}
		 WHERE CO_DIV 			= #{coDiv}
		   AND SALE_DAY 		= #{saleDay}
		   AND SALE_SEQ 		= #{saleSeq}
	</update>    
</mapper>