<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_MS_MAININFO 
 * 테이블 설명 : 회원정보 (회원/프로) 
-->
<mapper namespace="com.yido.clubd.repository.MemberMapper">

	<select id="selectMember" resultType="MemberVO">
		SELECT
		  	  MS_NUM
			, MS_STATUS
			, MS_BK_GRANT
			, MS_DIVISION
			, MS_LEVEL
			, MS_LOGIN_CD
			, MS_LINK
			, MS_ID
			, MS_PASSWORD
			, MS_NAME
			, MS_ENAME
			, MS_NICKNAME
			, MS_IMAGENAME
			, MS_SEX
			, DATE_FORMAT(MS_BIRTH, '%Y-%m-%d') AS MS_BIRTH
			, MS_BIRTHYL
			, MS_FIRST_PHONE1
			, AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO') AS MS_MID_PHONE1
			, MS_LAST_PHONE1
			, SMS_CHK1
			, MS_BLANK
			, MS_VOUCHER_DAY
			, MS_WEDDINGDAY
			, MS_WEDDING
			, AES_DECRYPT(UNHEX(MS_EMAIL), 'YIDO') AS MS_EMAIL
			, MS_EMAIL_YN
			, AES_DECRYPT(UNHEX(MS_HOMETEL), 'YIDO') AS MS_HOMETEL
			, MS_HOMEZIP
			, MS_HOMEADDR1
			, MS_HOMEADDR2
			, MS_POST_YN
			, MS_COMPNM
			, MS_COMPNO
			, AES_DECRYPT(UNHEX(MS_COMPTEL), 'YIDO') AS MS_COMPTEL
			, AES_DECRYPT(UNHEX(MS_COMPFAX), 'YIDO') AS MS_COMPFAX
			, MS_COMPZIP
			, MS_COMPADDR1
			, MS_COMPADDR2
			, MS_COMP_POST_YN
			, MS_COMPDEPT
			, MS_COMPPOSITION
			, MS_REGDAY
			, MS_ENDDAY
			, MS_REMARK
			, MS_MKT_AGREE_YN
			, MS_DORMANT
			, LOGIN_TIME
			, MS_DI
			, MS_JOB_CD
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
			, UPDATE_STAFF
			, UPDATE_DATETIME
			, UPDATE_IP
		FROM DR_MS_MAININFO
		WHERE 1=1 
			<if test='msId != null and msId != ""'>
			AND MS_ID  = #{userId}
			</if>
			<if test='msNum != null and msNum != ""'>
			AND MS_NUM  = #{msNum}
			</if>
		 	AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
    </select>
    
    <select id="selectLoginUser" resultType="MemberVO">
    	/* drMsMaininfoMapper.selectLoginUser - 아이디/비밀번호로 조회 (로그인) */
        SELECT
          MS_NUM
			, MS_STATUS
			, MS_BK_GRANT
			, MS_DIVISION
			, MS_LEVEL
			, MS_LOGIN_CD
			, MS_LINK
			, MS_ID
			, MS_PASSWORD
			, MS_NAME
			, MS_ENAME
			, MS_NICKNAME
			, MS_IMAGENAME
			, MS_SEX
			, DATE_FORMAT(MS_BIRTH, '%Y-%m-%d') AS MS_BIRTH
			, MS_BIRTHYL
			, MS_FIRST_PHONE1
			, AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO') AS MS_MID_PHONE1
			, MS_LAST_PHONE1
			, SMS_CHK1
			, MS_BLANK
			, MS_VOUCHER_DAY
			, MS_WEDDINGDAY
			, MS_WEDDING
			, AES_DECRYPT(UNHEX(MS_EMAIL), 'YIDO') AS MS_EMAIL
			, MS_EMAIL_YN
			, AES_DECRYPT(UNHEX(MS_HOMETEL), 'YIDO') AS MS_HOMETEL
			, MS_HOMEZIP
			, MS_HOMEADDR1
			, MS_HOMEADDR2
			, MS_POST_YN
			, MS_COMPNM
			, MS_COMPNO
			, AES_DECRYPT(UNHEX(MS_COMPTEL), 'YIDO') AS MS_COMPTEL
			, AES_DECRYPT(UNHEX(MS_COMPFAX), 'YIDO') AS MS_COMPFAX
			, MS_COMPZIP
			, MS_COMPADDR1
			, MS_COMPADDR2
			, MS_COMP_POST_YN
			, MS_COMPDEPT
			, MS_COMPPOSITION
			, MS_REGDAY
			, MS_ENDDAY
			, MS_REMARK
			, MS_MKT_AGREE_YN
			, MS_DORMANT
			, LOGIN_TIME
			, MS_DI
			, MS_JOB_CD
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
			, UPDATE_STAFF
			, UPDATE_DATETIME
			, UPDATE_IP	 
          FROM DR_MS_MAININFO 
         WHERE 1 = 1
         	AND MS_ID = #{msId} 
         	AND MS_PASSWORD = SHA2(#{msPassword}, 256)
            AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
    </select>
    <select id="selectSessionLoginUser" resultType="com.yido.clubd.common.utils.SessionVO">
    	/* drMsMaininfoMapper.selectSessionLoginUser - 세션키로 조회 (로그인) */
        SELECT
        	  MS_NUM
			, MS_STATUS
			, MS_BK_GRANT
			, MS_DIVISION
			, MS_LEVEL
			, MS_LOGIN_CD
			, MS_SESSION_KEY
			, MS_SESSION_LIMIT
			, MS_LINK
			, MS_ID
			, MS_PASSWORD
			, MS_NAME
			, MS_ENAME
			, MS_NICKNAME
			, MS_IMAGENAME
			, MS_SEX
			, DATE_FORMAT(MS_BIRTH, '%Y-%m-%d') AS MS_BIRTH
			, MS_BIRTHYL
			, MS_FIRST_PHONE1
			, AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO') AS MS_MID_PHONE1
			, MS_LAST_PHONE1
			, SMS_CHK1
			, MS_BLANK
			, MS_VOUCHER_DAY
			, MS_WEDDINGDAY
			, MS_WEDDING
			, AES_DECRYPT(UNHEX(MS_EMAIL), 'YIDO') AS MS_EMAIL
			, MS_EMAIL_YN
			, AES_DECRYPT(UNHEX(MS_HOMETEL), 'YIDO') AS MS_HOMETEL
			, MS_HOMEZIP
			, MS_HOMEADDR1
			, MS_HOMEADDR2
			, MS_POST_YN
			, MS_COMPNM
			, MS_COMPNO
			, AES_DECRYPT(UNHEX(MS_COMPTEL), 'YIDO') AS MS_COMPTEL
			, AES_DECRYPT(UNHEX(MS_COMPFAX), 'YIDO') AS MS_COMPFAX
			, MS_COMPZIP
			, MS_COMPADDR1
			, MS_COMPADDR2
			, MS_COMP_POST_YN
			, MS_COMPDEPT
			, MS_COMPPOSITION
			, MS_REGDAY
			, MS_ENDDAY
			, MS_REMARK
			, MS_MKT_AGREE_YN
			, MS_DORMANT
			, LOGIN_TIME
			, MS_DI
			, MS_JOB_CD
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
			, UPDATE_STAFF
			, UPDATE_DATETIME
			, UPDATE_IP	
          FROM DR_MS_MAININFO 
         WHERE 1 = 1
         	AND MS_SESSION_KEY = #{msSessionKey}
            AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
    </select>
    
    <select id="selectMsNum" parameterType="hashmap" resultType="String">
    	/* drMsMaininfoMapper.selectMsNum - MS_ID로 MS_NUM 조회 */
		SELECT MS_NUM
		  FROM DR_MS_MAININFO
		 WHERE MS_ID = #{msId}
		   AND MS_LOGIN_CD = #{msLoginCd}
		   AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
	</select>
	
	<select id="selectMsSession" parameterType="hashmap" resultType="com.yido.clubd.common.utils.SessionVO">
		/* drMsMaininfoMapper.selectMsSession - MS_NUM으로 유저 정보 조회 */
		SELECT
			  MS_NUM
			, MS_STATUS
			, MS_BK_GRANT
			, MS_DIVISION
			, MS_LEVEL
			, MS_LOGIN_CD
			, MS_LINK
			, MS_ID
			, MS_PASSWORD
			, MS_NAME
			, MS_ENAME
			, MS_NICKNAME
			, MS_IMAGENAME
			, MS_SEX
			, DATE_FORMAT(MS_BIRTH, '%Y-%m-%d') AS MS_BIRTH
			, MS_BIRTHYL
			, MS_FIRST_PHONE1
			, AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO') AS MS_MID_PHONE1
			, MS_LAST_PHONE1
			, SMS_CHK1
			, MS_BLANK
			, MS_VOUCHER_DAY
			, MS_WEDDINGDAY
			, MS_WEDDING
			, AES_DECRYPT(UNHEX(MS_EMAIL), 'YIDO') AS MS_EMAIL
			, MS_EMAIL_YN
			, AES_DECRYPT(UNHEX(MS_HOMETEL), 'YIDO') AS MS_HOMETEL
			, MS_HOMEZIP
			, MS_HOMEADDR1
			, MS_HOMEADDR2
			, MS_POST_YN
			, MS_COMPNM
			, MS_COMPNO
			, AES_DECRYPT(UNHEX(MS_COMPTEL), 'YIDO') AS MS_COMPTEL
			, AES_DECRYPT(UNHEX(MS_COMPFAX), 'YIDO') AS MS_COMPFAX
			, MS_COMPZIP
			, MS_COMPADDR1
			, MS_COMPADDR2
			, MS_COMP_POST_YN
			, MS_COMPDEPT
			, MS_COMPPOSITION
			, MS_REGDAY
			, MS_ENDDAY
			, MS_REMARK
			, MS_MKT_AGREE_YN
			, MS_DORMANT
			, LOGIN_TIME
			, MS_DI
			, MS_JOB_CD
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
			, UPDATE_STAFF
			, UPDATE_DATETIME
			, UPDATE_IP					 
		FROM DR_MS_MAININFO
		WHERE MS_NUM = #{msNum}
			AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
		LIMIT 1
	</select>
		
    <insert id="insertMember">
    	<selectKey keyColumn="MS_NUM" keyProperty="msNum" order="BEFORE" resultType="java.lang.String">
    		SELECT LPAD(((IFNULL(MAX(MS_NUM), 0) ) + 1), 12, 0) AS MS_NUM FROM DR_MS_MAININFO
    	</selectKey>
    	INSERT INTO DR_MS_MAININFO (
			  MS_NUM
			, MS_STATUS
			, MS_BK_GRANT
			, MS_DIVISION
			, MS_LEVEL
			, MS_LOGIN_CD
			, MS_ID
			, MS_PASSWORD
			, MS_NAME	
			, MS_FIRST_PHONE1
			, MS_MID_PHONE1
			, MS_LAST_PHONE1
			, SMS_CHK1
			, MS_BLANK
			, MS_EMAIL
			, MS_EMAIL_YN
			, MS_REGDAY		
			, MS_MKT_AGREE_YN
			, MS_DORMANT
			, INPUT_STAFF			
			, INPUT_DATETIME
			, INPUT_IP	
		) VALUES (
			  #{msNum}
			, #{msStatus}
			, #{msBkGrant}
			, #{msDivision}
			, #{msLevel}			
			, #{msLoginCd}
			, #{msId}
			, SHA2(#{msPassword}, 256)
			, #{msName}			
			, #{msFirstPhone1}
			, HEX(AES_ENCRYPT(#{msMidPhone1}, 'YIDO'))
			, #{msLastPhone1}
			, #{smsChk1}			
			, #{msBlank}			
			, HEX(AES_ENCRYPT(#{msEmail}, 'YIDO'))		
			, #{msEmailYn}			
			, DATE_FORMAT(NOW(), '%Y%m%d')		
			, #{msMktAgreeYn}
			, #{msDormant}
			, #{inputStaff}
			, NOW()
			, #{ipAddr}						
		)	 	
    </insert>
    <!-- <update id="updateMember">
    	UPDATE DR_MS_MAININFO
    		SET MS_NUM = #{msNum}
    		<if test='newMsPassword != null and newMsPassword != ""'>
			, MS_PASSWORD = SHA2(#{newMsPassword}, 256)
			</if>
			<if test='msName != null and msName != ""'>
			, MS_NAME = #{msName}
			</if>
			<if test='smsChk1 != null and smsChk1 != ""'>
			, SMS_CHK1 = #{smsChk1}
			</if>
			<if test='msPhone != null and msPhone != ""'>
			, MS_FIRST_PHONE1 = #{msFirstPhone1}
			, MS_MID_PHONE1 = HEX(AES_ENCRYPT(#{msMidPhone1}, 'YIDO'))
			, MS_LAST_PHONE1 = #{msLastPhone1}
			</if>
			, UPDATE_STAFF = #{updateStaff}
			, UPDATE_DATETIME = NOW()
			, UPDATE_IP = #{updateIp}
		 WHERE MS_NUM = #{msNum}
    </update> -->
    <update id="updateMember">
    	UPDATE DR_MS_MAININFO
    		SET MS_NUM = #{msNum}
    		<if test='newMsPassword != null and newMsPassword != ""'>
			, MS_PASSWORD = SHA2(#{newMsPassword}, 256)
			</if>
			<if test='msName != null and msName != ""'>
			, MS_NAME = #{msName}
			</if>
			<if test='smsChk1 != null and smsChk1 != ""'>
			, SMS_CHK1 = #{smsChk1}
			</if>
			<if test='msPhone != null and msPhone != ""'>
			, MS_FIRST_PHONE1 = #{msFirstPhone1}
			, MS_MID_PHONE1 = HEX(AES_ENCRYPT(#{msMidPhone1}, 'YIDO'))
			, MS_LAST_PHONE1 = #{msLastPhone1}
			</if>
			<if test='msSex != null and msSex != ""'>
			, MS_SEX = #{msSex}
			</if>
			<if test='msBirth != null and msBirth != ""'>
			, MS_BIRTH = DATE_FORMAT(#{msBirth}, '%Y%m%d')
			</if>
			<if test='msCompnm != null and msCompnm != ""'>
			, MS_COMPNM = #{msCompnm}
			</if>
			<if test='msCompaddr1 != null and msCompaddr1 != ""'>
			, MS_COMPADDR1 = #{msCompaddr1}
			</if>
			<if test='msCompaddr2 != null and msCompaddr2 != ""'>
			, MS_COMPADDR2 = #{msCompaddr2}
			</if>
			<if test='msJobCd != null and msJobCd != ""'>
			, MS_JOB_CD = #{msJobCd}
			</if>
			, UPDATE_STAFF = #{updateStaff}
			, UPDATE_DATETIME = NOW()
			, UPDATE_IP = #{updateIp}
		 WHERE MS_NUM = #{msNum}
    </update>  
    <select id="selectMemberBasic" resultType="MemberVO" parameterType="String">
    	SELECT
    		  MS_NUM
    		, CONCAT(MS_HANDCAP, '개') AS MS_HANDCAP
    		, MS_LESSON_EXP_YN
    		, CONCAT(MS_LESSON_MINUTE, '분') AS MS_LESSON_MINUTE
    		, CONCAT(MS_LESSON_UNIT, MS_LESSON_TREM, '회') AS MS_LESSON_TREM
    		, CONCAT(MS_ROUND_UNIT, MS_ROUND_CNT, '회') AS MS_ROUND_CNT
    	FROM DR_MS_BASIC
    	WHERE MS_NUM = #{msNum}
    </select>
    <insert id="insertMemberBasic">
    	INSERT INTO DR_MS_BASIC (
    		  MS_NUM
    		<if test='msHandcap != null and msHandcap != ""'>
    		, MS_HANDCAP
    		</if>
    		<if test='msLessonExpYn != null and msLessonExpYn != ""'>
    		, MS_LESSON_EXP_YN
    		</if>
    		<if test='msLessonMinute != null and msLessonMinute != ""'>
    		, MS_LESSON_MINUTE
    		</if>
    		<if test='msLessonTrem != null and msLessonTrem != ""'>
    		, MS_LESSON_TREM
    		</if>
    		<if test='msLessonUnit != null and msLessonUnit != ""'>
    		, MS_LESSON_UNIT
    		</if>
    		<if test='msRoundCnt != null and msRoundCnt != ""'>
    		, MS_ROUND_CNT
    		</if>
    		<if test='msRoundUnit != null and msRoundUnit != ""'>
    		, MS_ROUND_UNIT
    		</if>
    	)VALUES (
    		  #{msNum}
    		<if test='msHandcap != null and msHandcap != ""'>
    		, #{msHandcap}
    		</if>
    		<if test='msLessonExpYn != null and msLessonExpYn != ""'>
    		, #{msLessonExpYn}
    		</if>
    		<if test='msLessonMinute != null and msLessonMinute != ""'>
    		, #{msLessonMinute}
    		</if>
    		<if test='msLessonTrem != null and msLessonTrem != ""'>
    		, #{msLessonTrem}
    		</if>
    		<if test='msLessonUnit != null and msLessonUnit != ""'>
    		, #{msLessonUnit}
    		</if>
    		<if test='msRoundCnt != null and msRoundCnt != ""'>
    		, #{msRoundCnt}
    		</if>
    		<if test='msRoundUnit != null and msRoundUnit != ""'>
    		, #{msRoundUnit}
    		</if>
    	)
   	</insert>
    <update id="updateMemberBasic">
    	UPDATE DR_MS_BASIC
    		SET MS_NUM = #{msNum}
    		<if test='msHandcap != null and msHandcap != ""'>
			, MS_HANDCAP = #{msHandcap}
			</if>
			<if test='msLessonExpYn != null and msLessonExpYn != ""'>
			, MS_LESSON_EXP_YN = #{msLessonExpYn}
			</if>
			<if test='msLessonMinute != null and msLessonMinute != ""'>
			, MS_LESSON_MINUTE = #{msLessonMinute}
			</if>
			<if test='msLessonTrem != null and msLessonTrem != ""'>
			, MS_LESSON_TREM = #{msLessonTrem}
			</if>
			<if test='msLessonUnit != null and msLessonUnit != ""'>
			, MS_LESSON_UNIT = #{msLessonUnit}
			</if>
			<if test='msRoundCnt != null and msRoundCnt != ""'>
			, MS_ROUND_CNT = #{msRoundCnt}
			</if>
			<if test='msRoundUnit != null and msRoundUnit != ""'>
			, MS_ROUND_UNIT = #{msRoundUnit}
			</if>
		 WHERE MS_NUM = #{msNum}
    </update>  
    <select id="selectMemberCarList" resultType="MemberVO" parameterType="String">
    	SELECT
    		  CAR_SEQ
    		, MS_NUM
    		, MS_CAR_NO
    	FROM DR_MS_CAR
    	WHERE MS_NUM = #{msNum}
    	ORDER BY CAR_SEQ ASC
    </select>
    <delete id="deleteMemberCar">
    	DELETE FROM DR_MS_CAR WHERE MS_NUM = #{msNum}
    </delete>
    <insert id="insertMemberCar">
    	INSERT INTO DR_MS_CAR (
    		  CAR_SEQ
    		, MS_NUM
    		, MS_CAR_NO
    	)VALUES (
    		  #{carSeq}
    		, #{msNum}
    		, #{msCarNo}
    	)
    </insert> 
	<select id="selectFindUser" parameterType="hashmap" resultType="MemberVO">
		SELECT 
			  MS_NUM
			, MS_ID
			, MS_LOGIN_CD
		FROM DR_MS_MAININFO M
		WHERE 1 = 1
			<if test='msId != null and msId != ""'>
	        AND MS_ID = #{msId} 
	        </if>
	        <if test='msName != null and msName != ""'>
		 	AND MS_NAME = #{msName}
		 	</if>
			<if test='msPhone != null and msPhone != ""'>
			AND CONCAT(MS_FIRST_PHONE1, '-', AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO'), '-', MS_LAST_PHONE1 ) = #{msPhone}
			</if>
			AND NVL(MS_BLANK, 'N') = 'N'
		 LIMIT 1
	</select>

	<select id="selectFindPw" parameterType="hashmap" resultType="MemberVO">
		SELECT MS_NUM
			 , CONCAT(MS_FIRST_PHONE1, AES_DECRYPT(UNHEX(MS_MID_PHONE1), 'YIDO'), MS_LAST_PHONE1 ) AS MS_PHONE
		  FROM DR_MS_MAININFO M
		 WHERE MS_NAME = #{msName}
		   AND NVL(MS_BLANK, 'N') = 'N'
		   AND MS_ID = #{msId}
		   AND MS_LOGIN_CD = 'APP'
		 LIMIT 1
	</select>

	<update id="updatePw" parameterType="hashmap">
		UPDATE DR_MS_MAININFO
		   SET MS_PASSWORD = SHA2(#{newMsPassword}, 256)
		 WHERE MS_NUM = #{msNum}
	</update>
	
	<!-- 회원 위약체크 -->
	<select id="chkMsBkGrant" parameterType="hashmap" resultType="String">
		SELECT MS_BK_GRANT
		  FROM DR_MS_MAININFO
		 WHERE MS_ID = #{msId}
		   AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
	</select>
	
	<select id="selectProList" resultType="MemberVO">
	/* drMsMaininfoMapper.selectProList - 프로 목록 조회 */
		SELECT *
		FROM DR_MS_MAININFO
		WHERE 1 = 1
			AND MS_DIVISION = 00
			AND IFNULL(NULLIF(MS_BLANK,''),'N') = 'N'
			AND IFNULL(NULLIF(MS_DORMANT,''),'N') = 'N'        
	</select>
	<update id="updateMsSessionKey" parameterType="hashmap">
		UPDATE DR_MS_MAININFO
			<if test="msSessionKey != null">
			  SET MS_SESSION_KEY = #{msSessionKey}
			, MS_SESSION_LIMIT = NOW() + INTERVAL 30 DAY
		    </if>
		    <if test="msSessionKey == null">
			  SET MS_SESSION_KEY = NULL
			, MS_SESSION_LIMIT = NULL
			</if>
		WHERE MS_NUM = #{msNum}
	</update>
	<insert id="insertLoginLog" parameterType="hashmap">
		<selectKey resultType="Integer" keyProperty="loginSeq" order="BEFORE">
			SELECT IFNULL(MAX(LOGIN_SEQ), 0) + 1 as loginSeq
			FROM MS_MAININFO_LOGIN
			WHERE 1 = 1
				AND MS_NUM = #{msNum}
				AND LOGIN_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
	  	</selectKey>
		INSERT INTO MS_MAININFO_LOGIN (
			MS_NUM
		  , LOGIN_DATE
		  , LOGIN_SEQ
		  , LOGIN_PLATFORM
		  , USER_AGENT
		  , LOGIN_AUTO
		  , INPUT_STAFF
		  , INPUT_DATETIME
		  , INPUT_IP
		) SELECT
			#{msNum}
		  , DATE_FORMAT(NOW(), '%Y%m%d')
		  , #{loginSeq}
		  , #{platform}
		  , #{userAgent}
		  , #{loginAuto}
		  , #{inputStaff}
		  , NOW()
		  , #{ipAddr}
		FROM DUAL
		WHERE 1 > (
			SELECT COUNT(MS_NUM) 
			FROM MS_MAININFO_LOGIN
			WHERE 1 = 1
				AND MS_NUM = #{msNum}
				AND LOGIN_DATE = DATE_FORMAT(NOW(), '%Y%m%d')
				AND INPUT_DATETIME
			BETWEEN DATE_ADD(NOW(), INTERVAL -1 MINUTE) AND NOW()
		   )
	</insert>
	
</mapper>