<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : PRO_NOTICE_LOG
 * 테이블 설명 : 레슨프로특이사항 로그
-->
<mapper namespace="com.yido.clubd.repository.ProNoticeLogMapper">
   
    <insert id="insertProNoticeLog">
        <selectKey resultType="String" keyProperty="logSeq" order="BEFORE">
			SELECT IFNULL(CAST(MAX(LOG_SEQ) AS UNSIGNED), 0)+1 
			  FROM PRO_NOTICE_LOG
        </selectKey>    
    	INSERT INTO PRO_NOTICE_LOG (
			MS_NUM	
			, LOG_SEQ
			, LOG_DIV			
			, NOTICE_DIV			
			, PRO_MUST_YN			
			, PRO_REMARK
			, NOTICE_OPEN_YN	
    	) values (
    		#{msNum}	
    		, #{logSeq}
    		, #{logDiv}		
    		, #{noticeDiv}		
    		, #{proMustYn}			
    		, #{proRemark}
    		, #{noticeOpenYn}			
    	)  	
    </insert>
    
</mapper>