<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : SL_MASTER
 * 테이블 설명 : 매출내역
-->
<mapper namespace="com.yido.clubd.repository.SlMasterMapper">
   
    <insert id="insertSlMaster">
    	INSERT INTO SL_MASTER (
			CO_DIV				
			, SALE_DAY			
			, SALE_SEQ			
			, SL_SHOP_CD
			, SL_BILL_NO	
			, BK_SERIAL_NO 	
			, BAY_CD 	
			, SL_PAY_DIV	
			, SL_TOTAL_AMOUNT	
			, SL_STATE 	
			, SL_REMARK	
			, SL_VOID_REMARK
			, INPUT_STAFF
			, INPUT_DATETIME
			, INPUT_IP
    	) values (
    		#{coDiv}			
    		, #{saleDay}		
    		, #{saleSeq}		
    		, #{slShopCd}			
    		, #{slBillNo}			
    		, #{bkSerialNo}			
    		, #{bayCd}			
    		, #{slPayDiv}			
    		, #{slTotalAmount}			
    		, #{slState}			
    		, #{slRemark}		
    		, #{slVoidRemark}	
    		, #{inputStaff}			
    		, now()				
    		, #{ipAddr}		
    	)  	
    </insert>

</mapper>